settings/
FSBL/settings
CA53/settings
CA53/generated/*.txt
CA53_BOOT/settings
CR5_0/settings
CR5_0/generated/*.txt
CR5_1/settings
CR5_1/generated/*.txt
FSBL/Debug
CA53/Debug
CA53_BOOT/Debug
CR5_0/Debug
CR5_1/Debug
*.dep
*.ewt
*.log
*.out